.mainBlock{
    border: 2px solid green;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parentBlock{
    display: flex;
    justify-content: space-evenly;
}